@import 'mt/imports'

.mt-html
.mt-body
	background #C0DEED

.mt-application
	font-family mt-sans-serif
	
	&-wrap
		background rgba(100%, 100%, 100%, 50%)
		margin 0 auto
		padding 15px
		width 868px
	
	&-profile-box
		float left
		width 302px
	
	&-tweets
		float left
		margin-left 13px
