<div jwclass="mt-profile-box">
    <a jwid="top" class="blocklink" href="#">
        <div jwid="avatar"></div>
        <div jwid="full-name"></div>
        <div jwid="show-profile">Show my profile</div>
    </a>
    <div jwid="middle">
        <a jwid="count tweets" class="blocklink" href="#">
            <div jwid="count-value tweets-value"></div>
            <div jwid="count-label">TWEETS</div>
        </a>
        <a jwid="count count-border following" class="blocklink" href="#">
            <div jwid="count-value following-value"></div>
            <div jwid="count-label">FOLLOWING</div>
        </a>
        <a jwid="count count-border followers" class="blocklink" href="#">
            <div jwid="count-value followers-value"></div>
            <div jwid="count-label">FOLLOWERS</div>
        </a>
    </div>
    <div jwid="bottom">
        <form jwid="compose-form">
            <div jwid="compose-fields">
                <textarea jwid="compose-input" placeholder="Compose tweet..."></textarea>
            </div>
            <div jwid="compose-buttons">
                <input jwid="compose-submit" type="submit" value="Tweet">
            </div>
        </form>
    </div>
</div>
