.mt-tweet
	background-color #DDD
	float left
	width 400px
	
	&-time
		float right
	
	&-full-name
		display inline-block
		font-weight bold
	
	&-short-name
		color #666
		display inline-block
		font-size .8em
		margin-left 10px
	
	&-button
		color #0084B4
		cursor pointer
		display inline-block
	
	&-buttonhover
		text-decoration underline
	
	&-retweet
		margin-left 10px
	
	&-like.active
		color #FF9B00
	
	&-retweet.active
		color #609928
