@import 'mt/imports'

.mt-tweet-feed
	mt-border()
	background white
	width 522px
	
	&-header
		mt-bold()
		font-size 18px
		padding 10px
	
	&-footer
		border-top mt-grid-border
		padding 8px
		text-align center
