@import 'mt/imports'

.mt-tweet-feed
	@extends .mt-border
	
	background white
	width 522px
	
	&-header
		@extends .mt-bold
		
		font-size 18px
		padding 10px
	
	&-footer
		border-top mt-grid-border
		padding 8px
		text-align center
