.mt-html,
.mt-body {
	background: #c0deed;
}
.mt-application {
	font-family: Arial, sans-serif;
}
.mt-application-wrap {
	background: rgba(255,255,255,0.5);
	margin: 0 auto;
	padding: 15px;
	width: 868px;
}
.mt-application-profile-box {
	float: left;
	width: 302px;
}
.mt-application-tweets {
	float: left;
	margin-left: 13px;
}
