.mt-tweet-feed-header {
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
}
.mt-tweet-feed {
	border: 1px solid rgba(0,0,0,0.45);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.mt-tweet-feed {
	background: #fff;
	width: 522px;
}
.mt-tweet-feed-header {
	font-size: 18px;
	padding: 10px;
}
.mt-tweet-feed-footer {
	border-top: 1px solid #e8e8e8;
	padding: 8px;
	text-align: center;
}
