@import 'thirdparty/imports.styl'

mt-sans-serif = Arial,sans-serif
mt-hover-color = #0084B4
mt-grid-border = 1px solid #E8E8E8

mt-bold()
	color #333
	font-family mt-sans-serif
	font-size 14px
	font-weight bold
	text-shadow 0 1px 0 white

mt-light()
	color #999
	font-family mt-sans-serif
	font-size 11px
	text-shadow 0 1px 0 white

mt-border()
	border 1px solid rgba(0, 0, 0, 45%)
	border-radius 6px
